
.Project-Grid-Item {
    border-color: black;
    color: black;
}

.Project-Grid-Item:hover {
    border-color: #FF2467;
    color: #FF2467;
}

.Skill-Grid-Item {
    border-radius: 4px;
    border: 2px solid #92eac0;
    padding: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    font-size: .85rem;
    color: #C9D6EA;
    background-color: rgba(0, 0, 0, 0.6);
}
