.App {
    width: "100%";
    min-height: "100%";
}

.App-link {
    color: #61dafb;
}

.Project-Grid-Item {
    border-color: black;
    color: black;
}

.Project-Grid-Item:hover {
    border-color: #FF2467;
    color: #FF2467;
}

.Skill-Grid-Item {
    border-radius: 4px;
    border: 2px solid #92eac0;
    padding: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    font-size: .85rem;
    color: #525f7f;
}

.logo-animation-appear {
    width: 1vw;
}

.logo-animation-appear-active {
    transform: scale(60);
    transition: transform 1750ms ease;
}

.logo-animation-enter {
    width: 60vw;
    opacity: 1;
}

.logo-animation-exit {
    width: 60vw;
    opacity: 1;
}

.logo-animation-exit-active {
    width: 60vw;
    opacity: 0;
    transition: opacity 3000ms ease-in;
}

.main-view-appear {
    width: 60vw;
    opacity: 0;
}

.main-view-appear-active {
    width: 60vw;
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

